<nav class="navbar navbar-trans navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header" id="navbar">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="http://datascience.sg"><img src="<%- config.root %>img/dssglogo.png" class="nav-logo"></a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-collapsible">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="<%- config.root %>index.html#section1">Home</a></li>
                <li><a href="<%- config.root %>index.html#section2">About Us</a></li>
                <li><a href="<%- config.root %>index.html#section3">Reach Us</a></li>
                <li><a href="<%- config.root %>categories/MOOC">MOOC</a></li>
                <li><a href="<%- config.root %>categories/Meetup">Meetup</a></li>
                <li>&nbsp;</li>
            </ul>
        </div>
    </div>
</nav>