<% if (is_home()) { %> 
   <section class="container-fluid" id="section1">
    <div class="v-center">
        <h1 class="text-center">DataScience Singapore</h1>
        <h2 class="text-center">Home of the Data Geeks</h2>
      </div>
    </div>
    <a href="#section2">
    <div class="scroll-down bounceInDown animated">
            <span>
                <i class="fa fa-angle-down fa-2x"></i>
            </span>
    </div>
        </a>
</section>

<section class="container-fluid" id="section2">
    <div class="container v-center">
        <div class="row">
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="panel panel-default slideInLeft animate">
                            <div class="panel-heading">
                            <h3>About Us</h3></div>
                            <div class="panel-body">
                                <p>We are a user group for anyone interested in data science to interact and share their skills and know-how. We invite the occasional domain experts to share with us about their experiences but really, if you are armed with any talk that seems interesting, do shoot us a message by contacting us or joining the discussion on our Facebook group.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="panel panel-default slideInUp animate">
                            <div class="panel-heading">
                            <h3>When and Where</h3></div>
                            <div class="panel-body">
                                <p>DataScience.sg sharing sessions are currently held monthly at SMU's School of Information Systems. To find out more about our events, go to our meetup website.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="panel panel-default slideInRight animate">
                            <div class="panel-heading">
                            <h3>Help Us</h3></div>
                            <div class="panel-body">
                                <p>We need sponsors for <b>large</b> venue and it would be nice to have sponsors for pizza and beer. If you have something in mind, do contact us and we can work something out together!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/row-->
        <div class="row">
            <br>
        </div>
    </div>
    <!--/container-->
</section>

<section>
    <div class="container-fluid v-center" id="committee">
        <div class="row">
            <div class="col-sm-2 col-sm-offset-2 col-xs-6">
                <div class="text-center">
                    <a href="http://sg.linkedin.com/in/thiakx">
                        <img style="width:100px;" class="img-circle img-responsive img-thumbnail" src="<%- config.root %>img/thiakx.jpg">
                    </a>
                    <h3 class="text-center">Kaixin</h3>
                </div>
            </div>
            <div class="col-sm-2 col-xs-6">
                <div class="text-center">
                    <a href="http://sg.linkedin.com/in/koopingshung">
                        <img style="width:100px;" class="img-circle img-responsive img-thumbnail" src="<%- config.root %>img/koo.jpg">
                    </a>
                    <h3 class="text-center">Koo</h3>
                </div>
            </div>
            <div class="col-sm-2 col-xs-6">
                <div class="text-center">
                    <a href="http://sg.linkedin.com/in/yitch">
                        <img style="width:100px;" class="img-circle img-responsive img-thumbnail" src="<%- config.root %>img/yitch.jpg">
                    </a>
                    <h3 class="text-center">Yitch</h3>
                </div>
            </div>
            <div class="col-sm-2 col-xs-6">
                <div class="text-center">
                    <a href="http://sg.linkedin.com/pub/lim-zhi-yuan-zane/2b/202/677">
                        <img style="width:100px;" class="img-circle img-responsive img-thumbnail" src="<%- config.root %>img/zane.jpg">
                    </a>
                    <h3 class="text-center">Zane</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-sm-offset-2 col-xs-6">
                <div class="text-center">
                    <a href="http://sg.linkedin.com/in/eugeneyanziyou">
                        <img style="width:100px;" class="img-circle img-responsive img-thumbnail" src="<%- config.root %>img/eugene.jpg">
                    </a>
                    <h3 class="text-center">Eugene</h3>
                </div>
            </div>
            <div class="col-sm-2 col-xs-6">
                <div class="text-center">
                    <a href="http://sg.linkedin.com/in/gabrielchuan/">
                        <img style="width:100px;" class="img-circle img-responsive img-thumbnail" src="<%- config.root %>img/gabriel.jpg">
                    </a>
                    <h3 class="text-center">Gabriel</h3>
                </div>
            </div>
            <div class="col-sm-2 col-xs-6">
                <div class="text-center">
                    <a href="http://sg.linkedin.com/in/benjithian">
                        <img style="width:100px;" class="img-circle img-responsive img-thumbnail" src="<%- config.root %>img/benji.png">
                    </a>
                    <h3 class="text-center">Benji</h3>
                </div>
            </div>
            <div class="col-sm-2 col-xs-6">
                <div class="text-center">
                    <a href="">
                        <img style="width:100px;" class="img-circle img-responsive img-thumbnail" src="img/elisa.jpg">
                    </a>
                    <h3 class="text-center">Elisa</h3>
                </div>
            </div>
        </div>
        <!--/row-->
    </div>
</section>

<section class="container-fluid" id="section3">
    <div class="row">
        <!--fontawesome icons-->
        <div class="col-sm-1 col-sm-offset-3 col-xs-4 text-center">
            <i class="fa fa-github fa-4x"></i>
        </div>
        <div class="col-sm-1 col-xs-4 text-center">
            <i class="fa fa-trello fa-4x"></i>
        </div>
        <div class="col-sm-1 col-xs-4 text-center">
            <i class="fa fa-youtube fa-4x"></i>
        </div>
        <div class="col-sm-1 col-xs-4 text-center">
            <i class="fa fa-facebook fa-4x"></i>
        </div>
        <div class="col-sm-1 col-xs-4 text-center">
            <i class="fa fa-linkedin fa-4x"></i>
        </div>
          <div class="col-sm-1 col-xs-4 text-center">
            <i class="fa fa-users fa-4x"></i>
        </div>
    </div>
</section>


<div class="scroll-up">
  <a href="#"><i class="fa fa-angle-up"></i></a>
</div>

</div>
		<% } else { %><%- partial('_partial/article', {post: page, index: false}) %> <%}%>
