	  <hr>

      <footer>
        <p>DataScience SG <a href="mailto:datasciencesg@gmail.com"><img src="<%- config.root %>img/email.png"></a><a href="https://www.facebook.com/groups/dataScienceSG/"><img src="<%- config.root %>img/facebook.png"></a><a href="https://www.linkedin.com/groups?home=&gid=6663054"><img src="<%- config.root %>img/linkedin.png"></a><a href="http://www.youtube.com/channel/UCWmK3pY-hjLrG-5d1f3nRfQ"><img src="<%- config.root %>img/youtube.png"></a><a href="http://www.meetup.com/DataScience-SG-Singapore"><img src="<%- config.root %>img/meetup.png"></a><a href="https://trello.com/b/d7Iuwji9/happenings-data-science-sg"><img src="<%- config.root %>img/trello.png"></a><a href="https://github.com/datasciencesg/dssg"><img src="<%- config.root %>img/GitHub-Mark-64px.png"></a></p>
      </footer>
	  <!-- /container -->        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="<%- config.root %>js/vendor/jquery-1.11.0.min.js"><\/script>')</script>

        <script src="<%- config.root %>js/vendor/bootstrap.min.js"></script>

        <script src="<%- config.root %>js/main.js"></script>
		
		<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54993639-1', 'auto');
  ga('send', 'pageview');

</script>