	  <hr>

      <footer>
        <p>DataScience SG <a href="mailto:datasciencesg@gmail.com"><img src="<%- config.root %>img/email.png"></a><a href="https://www.facebook.com/groups/dataScienceSG/"><img src="<%- config.root %>img/facebook.png"></a><a href="https://www.linkedin.com/groups?home=&gid=6663054"><img src="<%- config.root %>img/linkedin.png"></a><a href="http://www.youtube.com/channel/UCWmK3pY-hjLrG-5d1f3nRfQ"><img src="<%- config.root %>img/youtube.png"></a><a href="http://www.meetup.com/DataScience-SG-Singapore"><img src="<%- config.root %>img/meetup.png"></a><a href="https://trello.com/b/d7Iuwji9/happenings-data-science-sg"><img src="<%- config.root %>img/trello.png"></a><a href="https://github.com/datasciencesg/dssg"><img src="<%- config.root %>img/GitHub-Mark-64px.png"></a></p>
      </footer>
	  <!-- /container -->        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="<%- config.root %>js/vendor/jquery-1.11.0.min.js"><\/script>')</script>

        <script src="<%- config.root %>js/vendor/bootstrap.min.js"></script>

        <script src="<%- config.root %>js/main.js"></script>