<!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand nav-logo" href="<%- config.root %>"><img src="<%- config.root %>img/dssg_logo.png" class="nav-logo"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="<%- config.root %>categories/Meetup">MEETUP</a></li>
        <li><a href="<%- config.root %>categories/MOOC">MOOC</a></li>
		<li><a href="<%- config.root %>initatives">INITATIVES</a></li>
		<li><a href="<%- config.root %>committee">COMMITTEE</a></li>
		<li><a href="https://trello.com/b/rbpEfMld/data-science">LIBRARY</a></li>
		<li><a href="https://drive.google.com/folderview?id=0Bx0LJp6Bk5_yNE9xa1c1X1NCUnM&usp=sharing"><img src="<%- config.root %>img/drivelogo.png"></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>